<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934631052436-q9cvknjs1h5frv94k2klllhmku10u7fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934631052436-q9cvknjs1h5frv94k2klllhmku10u7fm</string>
	<key>API_KEY</key>
	<string>AIzaSyC5JZlMbl2AVliUMQCJT9HQI2GHalanGUY</string>
	<key>GCM_SENDER_ID</key>
	<string>934631052436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sineider.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-28caa</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-28caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934631052436:ios:ac1e5355e262ed5ac01081</string>
</dict>
</plist>